<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<dict>
		<key>Type</key>
		<integer>0</integer>
		<key>NeedsValue</key>
		<true/>
		<key>Verbs</key>
		<array>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameContainsFragments</string>
				<key>Value</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameContainsLiterally</string>
				<key>Value</key>
				<integer>0</integer>
			</dict>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameDoesNotContain</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameContainsFragments</string>
				<key>Value</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameMatchesPatternPart1</string>
				<key>Value</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameEither</string>
				<key>Value</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_NameEither</string>
				<key>Value</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_RegEx</string>
				<key>Value</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<key>Numeric</key>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>NeedsValue</key>
		<true/>
		<key>ValueToolTipKey</key>
		<string>Tr.Helptext_SizeField</string>
		<key>Default</key>
		<integer>1</integer>
		<key>Verbs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<key>Bool</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Verbs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>Labels</key>
	<dict>
		<key>Type</key>
		<integer>3</integer>
		<key>Label</key>
		<string>Equals</string>
		<key>ValueToolTipKey</key>
		<string>Tr.Helptext_FindByLabel</string>
	</dict>
	<key>Date</key>
	<dict>
		<key>Type</key>
		<integer>4</integer>
		<key>Default</key>
		<integer>3</integer>
		<key>Verbs</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
	</dict>
	<key>EqualsOSType</key>
	<dict>
		<key>NeedsValue</key>
		<true/>
		<key>Type</key>
		<integer>5</integer>
		<key>Label</key>
		<string>Equals</string>
	</dict>
	<key>EqualsNumber</key>
	<dict>
		<key>NeedsValue</key>
		<true/>
		<key>Type</key>
		<integer>12</integer>
		<key>Label</key>
		<string>Equals</string>
	</dict>
	<key>Kind</key>
	<dict>
		<key>Type</key>
		<integer>6</integer>
		<key>Verbs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>Include</key>
	<dict>
		<key>Type</key>
		<integer>7</integer>
		<key>Verbs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<key>Limit</key>
	<dict>
		<key>Type</key>
		<integer>8</integer>
		<key>Label</key>
		<string>To</string>
		<key>NeedsValue</key>
		<true/>
	</dict>
	<key>PassResults</key>
	<dict>
		<key>Type</key>
		<integer>9</integer>
		<key>NeedsValue</key>
		<true/>
		<key>Verbs</key>
		<array>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_PassResultsToApp</string>
				<key>Value</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_PassResultsToFile</string>
				<key>Value</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Type</key>
		<integer>10</integer>
		<key>NeedsValue</key>
		<true/>
		<key>Verbs</key>
		<array>
			<dict>
				<key>Value</key>
				<integer>0</integer>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_FileContent</string>
			</dict>
			<dict>
				<key>Value</key>
				<integer>1</integer>
				<key>ToolTipKey</key>
				<string>Tr.Helptext_RegEx</string>
			</dict>
		</array>
	</dict>
	<key>NoType</key>
	<dict>
		<key>Type</key>
		<integer>11</integer>
	</dict>
	<key>UTI</key>
	<dict>
		<key>ValueToolTipKey</key>
		<string>Tr.Helptext_UTIConformsTo</string>
		<key>Type</key>
		<integer>0</integer>
		<key>NeedsValue</key>
		<true/>
		<key>Verbs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
</dict>
</plist>
