<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDateString</key>
	<string>2021-12-29T22:36:59+0100</string>
	<key>BuildMachineOSBuild</key>
	<string>21C52</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>faf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SavedSearch</string>
			<key>CFBundleTypeName</key>
			<string>Find Any File search</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.FaF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tempel.findanyfile.faf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>SearchDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>paths</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>POSIX Paths File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cc.utis.paths-file</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>ResultDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Directory</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Find Any File</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.tempel.findanyfile</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Find Any File</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>SavedSearch</string>
			<key>CFBundleURLName</key>
			<string>org.tempel.findanyfile.fafapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fafapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>302</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13A1030d</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.0</string>
	<key>DTSDKBuild</key>
	<string>21A344</string>
	<key>DTSDKName</key>
	<string>macosx12.0</string>
	<key>DTXcode</key>
	<string>1310</string>
	<key>DTXcodeBuild</key>
	<string>13A1030d</string>
	<key>DockIconsToChooseFrom</key>
	<array>
		<dict>
			<key>file name</key>
			<string>AppIcon.icns</string>
			<key>title</key>
			<string>Classic Icon</string>
		</dict>
		<dict>
			<key>file name</key>
			<string>BS-Blue.icns</string>
			<key>title</key>
			<string>Squircle Blue</string>
		</dict>
		<dict>
			<key>file name</key>
			<string>BS-Orange.icns</string>
			<key>title</key>
			<string>Squircle Orange</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSFileQuarantineEnabled</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>findanyfile.app</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>tempel.org</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Find Any File likes to use the "Get Info" command and inquire the Finder's selection.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Find Any File needs access to this in order to be able to search its contents.</string>
	<key>NSContactsUsageDescription</key>
	<string>Find Any File needs access to this in order to be able to search its contents.</string>
	<key>NSExtensionServiceAllowsToolbarItem</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2005-2021 Thomas Tempelmann</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Find Any File needs access to this in order to be able to search its contents.</string>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>NSRemindersUsageDescription</key>
	<string>Find Any File needs access to this in order to be able to search its contents.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FAF: Find Name</string>
			</dict>
			<key>NSMessage</key>
			<string>findByName</string>
			<key>NSPortName</key>
			<string>Find Any File</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>FAF: Search Folder(s)</string>
			</dict>
			<key>NSMessage</key>
			<string>findInside</string>
			<key>NSPortName</key>
			<string>Find Any File</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>org.tempel.findanyfile.helper</key>
		<string>identifier "org.tempel.findanyfile.helper" and anchor apple generic and certificate leaf[subject.CN] = "Mac Developer: Thomas Tempelmann (83FDUCJ4U8)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>8JqlskqsidyS/Kf6+36CNJGEuUOClItJVEGrd2x8B8o=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FAF search</string>
			<key>UTTypeIconFile</key>
			<string>SavedSearch</string>
			<key>UTTypeIdentifier</key>
			<string>org.tempel.findanyfile.faf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>.FaF</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>faf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>posix.paths</string>
				<string>org.tempel.findanyfile.paths</string>
			</array>
			<key>UTTypeDescription</key>
			<string>POSIX Paths File</string>
			<key>UTTypeIdentifier</key>
			<string>cc.utis.paths-file</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/utiscc/DotPathsFileSpec</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>paths</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Directory</string>
			<key>UTTypeIdentifier</key>
			<string>public.directory</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>POSIX Paths</string>
			<key>UTTypeIdentifier</key>
			<string>posix.paths</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>POSIX Paths</string>
			<key>UTTypeIdentifier</key>
			<string>org.tempel.findanyfile.paths</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
