<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Snipaste</string>
    <key>CFBundleVersion</key>
    <string>2.4.0</string>
    <key>CFBundleShortVersionString</key>
    <string>2.4.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2016-2020 Snipaste.com. All Rights Reserved.</string>
    <key>CFBundleIconFile</key>
    <string>snipaste.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.Snipaste</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>liule</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>Snipaste needs your permission to access the Desktop folder in order to save the image file.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Snipaste needs your permission to access the Documents folder in order to save the image file.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Snipaste needs your permission to access the Downloads folder in order to save the image file.</string>
    <key>NSRemoveableVolumesUsageDescription</key>
    <string>Snipaste needs your permission to access removable volumes in order to save the image file.</string>
    <key>LSUIElement</key>
    <string>1</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
</dict>
</plist>
